Source: powernap
Section: misc
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 6), gettext-base
Homepage: http://launchpad.net/powernap
Vcs-Bzr: http://bazaar.launchpad.net/~kirkland/powernap/trunk

Package: powernap
Architecture: all
Depends: ${misc:Depends}, debconf (>= 0.5) | debconf-2.0, python
Recommends: pm-utils
Description: brings a system to a lower power state when not running something
 PowerNap is a configurable daemon that will bring a running system to a lower
 power state according to a set of configuration preferences.  It acts as a sort
 of "screensaver" for servers, watching the process table for activity rather
 than the keyboard or mouse.
 .
 PowerNap will run $ACTION when none of $PROCESSES have executed for some number
 of $IDLE seconds.
 .
 For instance, PowerNap can automatically "pm-suspend" a system if no instance of
 "kvm" runs for some contiguous block of "300" seconds.
