Source: powernap
Section: admin
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 6), gettext-base
Homepage: http://launchpad.net/powernap
Vcs-Bzr: http://bazaar.launchpad.net/~kirkland/powernap/trunk

Package: powernap
Architecture: all
Depends: ${misc:Depends}, debconf (>= 0.5) | debconf-2.0, python, pm-utils
Suggests: ethtool
Enhances: powerwake
Description: run a defined action if not running some particular processes
 PowerNap will run an administrator-specified ACTION when none of a list of
 MONITORED_PROCESSES have executed for some number of ABSENT_SECONDS,
 checking the process table every INTERVAL_SECONDS.
 .
 PowerNap can be used to bring a running system to a lower power state when
 none of a list of critical processes have run for some amount of time.  It
 can act as sort of a "screensaver" for servers, watching the process table
 for activity rather than the keyboard or mouse.
 .
 For instance, PowerNap can automatically "pm-suspend" a system if no instance
 of "kvm" runs for some contiguous block of "300" seconds, checking the process
 table every "1" second.

Package: powerwake
Architecture: all
Depends: ${misc:Depends}, debconf (>= 0.5) | debconf-2.0, python
Enhances: powernap
Description: remotely wake a napping system
 PowerWake is a generic mechanism for remotely waking systems.  It is
 intended to support wake-on-lan, impi, and other remote waking mechanisms.
 Currently, wake-on-lan is the only supported mechanism.  It also includes
 some handy caching of MAC addresses, such that systems can be awakened by
 hostname or ip address, in addition to MAC address.
