Source: powernap
Section: admin
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 6), gettext-base, python-central (>= 0.5), python
XS-Python-Version: current
Homepage: http://launchpad.net/powernap
Vcs-Bzr: http://bazaar.launchpad.net/~kirkland/powernap/trunk

Package: powernap
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, debconf (>= 0.5) | debconf-2.0,
 pm-utils, powernap-common (= ${binary:Version})
Recommends: ethtool
Enhances: powerwake
Description: reduce the power consumption of a system when inactive
 PowerNap watches a series of configurable monitors.  When no activity
 has occurred on any of these monitors for some specified time, PowerNap
 deems the system inactive, and takes action, as configured by the system
 administrator.
 .
 PowerNap can monitor:
   * User Activity (Console, Keyboard, Mouse)
   * System Activity (Load, Processes, Process IO)
   * Network Activity (wake-on-lan, UDP ports, TCP ports)
 .
 Some of these are event-based, while others are poll-based.  PowerNap's
 polling interval, INTERVAL_SECONDS, is configurable.
 .
 The required length of inactivity, ABSENT_SECONDS, is configurable.
 . 
 The action taken by PowerNap when the system is active, is configurable,
 and might be one of pm-powersave, pm-suspend, pm-hibernate, poweroff,
 or any executable script as chosen by the system administrator.
 .
 See /etc/powernap/config for all configurable options and defaults.

Package: powernap-common
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, debconf (>= 0.5) | debconf-2.0
Description: common library files required by powernap
 This package contains the common library files required as a runtime
 dependency of powernap.

Package: powerwake
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, debconf (>= 0.5) | debconf-2.0
Enhances: powernap
Description: remotely wake a napping system
 PowerWake is a generic mechanism for remotely waking systems.  It is
 intended to support wake-on-lan, ipmi, and other remote waking mechanisms.
 Currently, wake-on-lan is the only supported mechanism.  It also includes
 some handy caching of MAC addresses, such that systems can be awakened by
 hostname or ip address, in addition to MAC address.
