[Unit]
Description=PowerNap
Requires=network.service
After=network.service

[Service]
Type=forking
ExecStartPre=/usr/share/powernap/powernap-ethtool
ExecStart=/usr/sbin/powernapd
ExecStop=-/usr/sbin/powerwake-now

[Install]
WantedBy=multi-user.target
